@media only screen and (prefers-color-scheme: dark) {
  :root {
    --color-bg: hsl(223, 24%, 13%);
    --color-font: hsl(0, 0%, 97%);
    --color-accent-font: #fff;
    --color-accent: hsl(238, 75%, 45%);
    --color-danger: hsl(13, 75%, 44%);
    --color-btn-hover: hsl(0, 0%, 20%);
    --color-bg-elevation-1: hsl(0, 0%, 15%);
    --color-bg-elevation-1-dark: hsl(0, 0%, 11%);
    --color-bg-elevation-2: hsl(0, 0%, 20%);
    --color-border: hsl(0, 0%, 25%);
  }
}
