:root {
  --color-bg: #fff;
  --color-font: hsl(0, 0%, 10%);
  --color-accent-font: #fff;
  --color-accent: hsl(238, 75%, 50%);
  --color-danger: hsl(14, 75%, 50%);
  --color-btn-hover: hsl(0, 0%, 90%);
  --color-bg-elevation-1: hsl(0, 0%, 97%);
  --color-bg-elevation-1-dark: hsl(0, 0%, 85%);
  --color-bg-elevation-2: hsl(0, 0%, 90%);
  --color-border: hsl(0, 0%, 85%);
}
