.glassmorphism::before {
  content: "";
  margin: -20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}

.glassmorphism {
  position: relative;
  background: hsla(0, 0%, 0%, 0.4);
  box-shadow: 2px 1px 10px hsla(0, 0%, 0%, 0.5);
}

.glassmorphism::before,
#background-image {
  background: url("/background.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
